<section id="berita-container">
	<article class="bg-white duration-500 dark:bg-neutral-900 rounded shadow-sm p-5 md:p-6">
		<img src="<%= data.img %>" alt="<%= data.title %>" class="w-full aspect-[16/9] object-cover rounded" onerror="this.onerror=null; this.src='/image/no-image.jpg';">
		<span class="mt-2 text-xs italic">
			<%= data.caption %>
		</span>
		<div class="flex flex-col gap-2 py-6">
			<div>
				<span class="bg-[#00b0ea] dark:bg-[#0296c7] duration-500 p-1 px-2 text-white rounded text-xs">
					<%= data.time %>
				</span>
			</div>
			<h2 class="font-semibold text-xl md:text-3xl">
				<%= data.title %>
			</h2>
		</div>
		<div id="artikel">
			<%- data.content %>
		</div>
	</article>
</section>
